
*{
    font-family: 'Montserrat', sans-serif;
}

.img-profile img{
    width: 80px;
    background-color: rgb(175, 2, 255);
    border-radius: 100%;
    margin: 15px;
}

.img-profile {
    width: 30%;   
}

.profile-info{
    width: 60%;
}
.container{
    display: flex;
    justify-content: center;
}

.content{
width: 100%;
}

.user{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.user h3{
    color: rgb(78, 78, 78);
    padding: 0;
}

.user h1{
    position: relative;
    font-size: 25pt;
    top: -20px;
}


.saldos{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.valor-box{
    padding: 10px;
    margin: 5px;
    width: 50%;
    text-align: center;
    border: 1px solid rgba(51, 51, 51, 0.363);
    box-shadow: 2px 2px 3px rgba(196, 2, 255, 0.253);
    border-radius: 10px;
}

.valor-box h4{
    color: rgb(78, 78, 78);
}

.geral{
    padding: 15px;
}

.info-section{
    background-color: rgba(51, 51, 51, 0.103);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
}



#saldo{
    color: rgba(0, 151, 76, 0.932);
}
#despesa{
    color: crimson;
}